@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500&display=swap');

.contact-container{
    display: grid;
    grid-template-columns: 65% 20%;
    gap: 5%;
}

.contact-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.contact-title h2{
    font-size: 2.8em;
    font-weight: bold;
    margin-bottom: 1em;
    font-family: 'RocknRoll One', sans-serif;
    margin: 7rem 1rem 1rem;
}

.contact-title h4{
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 1em;
    font-family: 'RocknRoll One', sans-serif;
    color: rgba(54, 54, 54, 0.786);
}
.contact-container .contact-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.contact-container .contact-days{
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    margin-top: 2rem;
    font-family: 'Saira Condensed', sans-serif;
}

.contact-container .contact-media{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    font-family: 'Saira Condensed', sans-serif;
    flex-direction: column;
}


.contact-container .contact-days .contact-day{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
    font-family: 'Saira Condensed', sans-serif;
}

.contact-container .contact-days .contact-hour{
    font-size: 1.3em;
    margin-bottom: 1em;
    font-family: 'Saira Condensed', sans-serif;
    margin-left: 1rem;
}

.contact-container .contact-media .contact-socialMedia{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
    font-family: 'Saira Condensed', sans-serif;
}

.contact-container  .contact-media .contact-socialMediaText{
    font-size: 1.3em;
    margin-bottom: 1em;
    font-family: 'Saira Condensed', sans-serif;
    margin-left: 1rem;
}


.contact-right-side{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
    font-family: 'Saira Condensed', sans-serif;
}

.logo-contianer{
    width: 13rem;
    height: 13rem;
    border: 0.2rem solid #000;
    border-radius: 5%;
}

.contact-logo{
    height: 100%;
    width: 100%;
}

.contact-location{
    width: 17rem;
    height: 15rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.contact-location-img{
    width: 100%;
    height: 100%;
}


/*************************** MEDIA QUERIES MEDUIM DEVICES*****************************/

@media screen and (max-width : 880px) {
    .contact-location{
        width: 12rem;
        height: 10rem;
    }

    .contact-container{
        grid-template-columns: 75% 20%;
        gap: 0;
    }

    .contact-title h2{
        font-size: 2.5em;
        margin-bottom: 1em;
        font-family: 'RocknRoll One', sans-serif;
    }
    .contact-text h4{
        font-size: 2em;
        margin-bottom: 1em;
        font-family: 'RocknRoll One', sans-serif;
    }

}
@media screen and (max-width : 750px) {
    .contact-left-side{
        grid-area: left-side;
    }

    .contact-container{
        grid-template-columns: 100%;
    }

    .contact-right-side{
        grid-area: right-side;
    }

    .contact-container{
        display: grid;
        grid-template-areas:"left-side" "right-side";
        gap: 5%;
    }

    .logo-contianer{
        width: 17rem;
        height: 15rem;
    }

    .contact-location{
        width: 15rem;
        height: 13rem;
    } 
}


/*************************** MEDIA QUERIES SMALL DEVICES*****************************/
@media screen and (max-width : 520px) {
    
    .contact-title h2{
        font-size: 1.85rem;
    }
    .contact-title h4{
        font-size: 1.7rem;
    }
    .contact-container .contact-text{
        flex-direction: column;
    }
    .contact-container .contact-days{
        align-items: start;
    }
}

@media screen and (max-width : 400px) {
    
    .contact-title h2{
        font-size: 1.7rem;
    }
    .contact-title h4{
        font-size: 1.5rem;
    }
}

@media screen and (max-width : 380px) {
    
    .contact-title h2{
        font-size: 1.5rem;
    }
    .contact-title h4{
        font-size: 1.3rem;
    }
}