@import url('https://fonts.googleapis.com/css2?family=Rosarivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

.hero{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../../assets/Images/header.jpg)
}

.header-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

h1{
    font-size: 3.2rem;
    font-family: 'RocknRoll One', sans-serif;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
h2{
    font-size: 2rem;
    font-family: 'Rosarivo', serif;
    text-transform: uppercase;
}

.header-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 3rem;
    left: 46.5%;
}


.box{
    position: relative;
    bottom: 2px;
    border: 3px solid white;
    border-radius: 0.9rem;
    font-weight: 900;
    width: 30px;
    height: 40px;
}

.box p{
    cursor: pointer;
}

.scroll-link{
    font-family: 'RocknRoll One', sans-serif;
}

.scroll-point{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    font-weight: 900;
}

.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    position: absolute;
    border: 1px solid white;
    left: -0.2rem;
    bottom: 5rem;
    padding: 1rem;
    font-size: 2.5rem;
}


/*************************** MEDIA QUERIES MEDIUM DEVICES*****************************/
@media screen and (max-width : 900px) {
    .social-media{
        bottom: 12rem;
    }
    .header-footer{
        left: 44%;
    }
    
}
  /*************************** MEDIA QUERIES SMALL DEVICES*****************************/
  @media screen and (max-width : 400px) {
    .social-media{
        bottom: 6rem;
    }
    .header-footer{
        left: 35%;
    }
}

@media screen and (max-width : 600px) {
    .social-media{
        bottom: 6rem;
    }
    .header-footer{
        left: 39%;
    }
}