@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

nav{
    padding: 1rem;
    height: 12vh;
    width: 100vw;
    position: fixed;
    background: transparent; 
}

nav.active{
    background-color: #1c1c1cec;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    z-index: 2;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 40px;
    position: relative;
}

.navbar_item{
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}

.navbar_item:hover{
    border-bottom: 0.5px solid var(--color-white);
    transition: var(--transition);
}

.active{
    border-bottom: 3px solid var(--color-white);
}

.navbar_logo{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    position: relative;
    top: 30px;
}




/*************************** MEDIA QUERIES MEDIUM DEVICES*****************************/
@media screen and (max-width : 800px) {

}
  /*************************** MEDIA QUERIES SMALL DEVICES*****************************/
  @media screen and (max-width : 400px) {
    
    .navbar_item{
        display: none;
    }

    
    .btn{
        display: none;
    }

    .navbar_logo{
        height: 4rem;
        width: 4rem;
        top: 25px;
        left: -70px;
    }
}