
nav{
    padding: 1rem;
    height: 5rem;
    width: 100vw;
    position: fixed;
    background: transparent; 
    z-index: 2;
}

nav.active{
    background-color: #1c1c1cec;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    z-index: 2;
}

button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--color-white);
    font-weight: bold;
    padding: 0.5rem;
    margin: 0.5rem;
    transition: var(--transition);
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 40px;
    position: relative;
    z-index: 2;
}

.navbar_item{
    font-size: 1.2rem;
    font-family: 'Roboto Slab', serif;
    display: relative;
}

.navbar_item:hover{
    border-bottom: 0.1px solid var(--color-white);
    transition: var(--transition);
} 

.active{
    border-bottom: 3px solid var(--color-white);
}

.navbar_logo{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    position: relative;
    top: 30px;
}

.mobile-menu{
    display: none;
}

.shutDownLogo{
    font-size: 0.5rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.small-device{
    display: none;
}

.error{
    text-align: center;
    color: #ff0000;
    background-color: #f98b8b6f;
    position: relative;
    margin-top: 0.5rem;
}

.isLogin{
    display: flex;
    gap: 0.5rem;
}

/*************************** MEDIA QUERIES Large DEVICES*****************************/
@media screen and (min-width : 520px ) and (max-width : 1024px) {
    .navbar_logo{
        display: none;
    }

    .nav-links{
        bottom: 0;
    }

    .navbar_item{
        font-size: 0.9rem;
    }
}

  /*************************** MEDIA QUERIES SMALL DEVICES*****************************/
  @media screen and (max-width : 520px) {
    nav.active{
        background-color: black;
    }

    .mobile-menu{    
        position: absolute;
        bottom: 0.5rem;
        right: 1.8rem;
        cursor: pointer;
        font-size: 2rem;
        display: block;
        font-size: 2rem;
        color: var(--color-white);
        z-index: 2;
    }

    .nav-links{
        display: none;
    }
    

    .navbar_item{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2.5rem;
        outline: none;
    }

    .nav-links-mobile{
        position: absolute;
        display:block;  
        list-style: none;
        background-color: #000;
        left: 0;
        top: 50px;
        transition: var(--transition);
        width: 100%;
        z-index: 2;
    }

    .navbar_logo{
        display: none;
    }

    .btn-navbar{
        display: block;
        position: relative;
        left: 40%;
        margin: 2rem 0;
    }
    .small-device{
        display: block;
    }
    .small-device h4{
        font-size: 1.8rem;
        color: var(--color-white);
        text-transform: capitalize;
    }
}