@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosarivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');


*{
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}


:root{
  --color-dark: #1c1c1c;
  --color-white: #fff;
  --color-light: rgba(245, 245, 245, .4);

  --transition: all 400ms ease;
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
  
}

body{
  font-family: 'Saira Condensed', sans-serif;
  background-color: var(--color-white);
  color: var(--color-dark);
  line-height: 1 .5;
}


/******************************* GENERAL STYLES *****************************/

section{
  padding: 0.5rem 0;
}

section > h1, section > h2{
   text-align: center;
   color: var(--color-white);
   margin-bottom: 5rem;
}


a{
  color: var(--color-white);
  transition: var(--transition);
}

a:hover{
  color: var(--color-light);
  transition: var(--transition);
  cursor: pointer;
}

.btn{
  width: max-content;
  color: var(--color-white);
  padding: 0.5rem 1.2rem;
  border-radius: 0.6rem;
  border: 1px solid var(--color-light);
  transition: var(--transition);
  font-size: 1rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 550;
  position: relative;
}

.btn:hover{
  background: var(--color-white);
  color: var(--color-dark);
  border-color: var(--color-light);
}


img{
  display: block;
  width: 100%;
  object-fit: cover;
}